body{
	margin:0;
	text-align:center;
}

.main_box{
	margin:0 auto;
	padding:0;
	width:400px;
	height:500px;
	
	background:#808080;
}

#popup_box{
	visibility:hidden;
	position:absolute;
	background:red;
	border:2px solid #3c3c3c;
	z-index:100;
	width:300px;
	height:150px;
	padding:15px;
}

.dimmer{
	background:#000000;
	position:absolute;
	opacity:0.7;
	top:0;
	z-index:99;

}

.input_text{
	margin:0px 25px 0px 25px;
	font-family:arial;
	float:left;
	font-weight:bold;
}

.input_field{
	margin:10px auto;
	padding:0;
	width:350px;
	height:30px;
	
	line-height:30px;
	border:none;
	
	display:inline-block;
}

.button{
	margin-left:25px;
	margin-top:10px;
	border:none;
	width:80px;
	height:35px;
	line-height:35px;
	text-decoration:none;
	float:left;
	background:#eeeeee;
	
	display:inline-block;

}

h1{
	font-family:arial;
	text-transform:uppercase;
	letter-spacing:-1px;
}